.categories-page {
    width: min(1200px, 90%);
    margin: 0 auto;
}


.categories-header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-top: 80px;
}

.category-heading {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans';
}

.categories-header p {
    position: absolute;
    left: 15px;
    font-family: 'Open Sans';
    color: black;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
}

.categories p {
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-size: 13px;
    padding: 8px 14px;
    border: 2px solid rgb(158, 158, 158);
    font-weight: 500;
    cursor: pointer;
    user-select: none;

    &:hover {
        border: 2px solid rgb(111, 111, 111);
    }
    
}