.nav-bar {
    height: 120px;
    box-shadow: 0 2px 3px #00000011;
}

.nav-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(1200px, 90%);
    margin: 0 auto;
    height: 100%;
}

.nav-menu {
    display: flex;
    gap: 25px;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 17px;
}

.nav-menu i {
    font-size: 19px;
}

.nav-menu p {
    user-select: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.burger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
    .burger {
        display: block;
    }
    .nav-menu {
        gap: 30px;
        padding-right: 10px;
    }
    .nav-menu i {
        font-size: 20px;
    }
}

.drawer-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Open Sans";
    font-weight: 500;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}